<div class="configuraciones-container">
  <div class="configuraciones-item neon-blue">
    <h2 class="configuraciones-item-title">Cambiar contraseña</h2>
    <!-- INSERTAR LÓGICA -->
  </div>
  <div class="configuraciones-item neon-blue">
    <h2 class="configuraciones-item-title">Cambiar nombre de tienda</h2>
    <!--  INSERTAR LÓGICA -->
  </div>
  <div class="configuraciones-item alert">
    <h2 class="configuraciones-item-title">Eliminar cuenta</h2>
    <!-- INSERTAR LÓGICA -->
  </div>
</div>
